<h1>Create a New User</h1>

<form action="/" method="post">
  <fieldset>
    <legend>New User</legend>
    Name: <input type="text" name="name"><br />
    Email: <input type="text" name="email"><br />
    <input type="submit" value="Submit">
  </fieldset>
</form>
