<div id="search-tools">
  <%= form_tag chat_search_path do %>
    <%= text_field_tag :search, 'Enter your search query here...', class: 'search-field' %>
    <%= select("sought_user", "filter", ['name', 'email'], { include_blank: false }) %>
    <%= submit_tag "Search" %><br />
  <% end %>
</div>
