<div id="container">

  <div id="search-container">
    <%= render 'search_tools' %>
    <%= render 'user_not_found' %>
  </div>

  <div id="chat-container">

  </div>

  <div id="sending-container">

  </div>

</div>
