<h1>TODO CHAT ROOM</h1>


<div id="chat-container" class="std-div">
  <div id="chat-buttons" class="std-div">
    <button type="button" class="send-msg-btn" onclick="sendMessage()">Send Message</button>
  </div>
</div>

<%= home_url %>
