<h1>CHAT</h1>

<div id="container">

  <div id="search-container">
    <%= render 'search_tools' %>
    <%= render 'user_found' %>
  </div>

  <div id="chat-container">

  </div>

  <div id="sending-container">
    <input id="message-input" type="text"></input>
    <button type="button" onclick="publish();">Send Message</button>
  </div>

</div>
